html, body, .container {
    width: 100%;
    height: 100%;
}

table thead tr th:last-child, table tbody tr td:last-child {
    width: 120px;
    text-align: center;
}

table thead tr th:first-child, table tbody tr th:first-child {
    margin: auto;
    text-align: center;
    width: 10%;
}

.button-registrar-frequencia {
    margin-left: auto;
}

.table {
    background-color: white!important;
    table-layout: fixed;
}

@media only screen and (max-width: 600px) {
    table thead tr th:last-child, table tbody tr td:last-child {
        width: 70px!important;
        text-align: center;
    }
}

td div {
    border-color: #32383e;
    width: 40x!important;
}

@media only screen and (max-width: 1000px) {
    .hide-responsive-progressao {
        display: none;
    }
}

@media only screen and (min-width: 1001px) {
    .hide-responsive-progressao-option {
        display: none;
    }
}