html, body, .container {
    width: 100%;
    height: 100%;
}

tbody tr th {
    font-weight: normal!important;
}

#container-planejamento .table {
    text-align: left!important;
    table-layout: fixed;
}

#container-planejamento .div-table-scroll {
    border-radius: 10px;
    /* border-color: darkgray ;
    border-style: groove; */
    max-width: 100%;
    overflow-y: scroll;
    background: white!important;
    /* background: rgba(0,0,0,.03)!important; */
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
}

#container-planejamento .table-competencias tbody tr th {
    font-weight: normal;
}

/*UNIDADES TEMATICAS*/

#container-planejamento #thead-unidades-tematicas tr th:last-child, #tbody-unidades-tematicas tr td:last-child {
    width: 70px;
}

#container-planejamento #thead-unidades-tematicas tr th:last-child, #tbody-unidades-tematicas tr td:last-child {
    width: 35px;
}

#container-planejamento #table-unidades-tematicas {
    margin-bottom: 0;
}

#container-planejamento .hide-sub {
     height: 0;
 }

 #container-planejamento .col-option-unidade-tematica {
    background-color: #e6e6e6;
}

#container-planejamento .table-sub-unidades-tematicas tr th:first-child, #table-conteudos tr th:first-child, #table-competencias tr th:first-child {
    width: 35px;
}

#container-planejamento .list-conhecimentos, .list-habilidades {
    height: 150px;
    background: #f2f2f2;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

#container-planejamento .modal-body .container-fluid .card-body .row .col-6 button {
    margin-top: 10px;
}

#container-planejamento hr {
    margin: 0;
}

#container-planejamento #menu3 .row {
    text-align: left;
    margin-bottom: 10px;
}

#container-planejamento .card-body .col-12:first-child {
    margin-bottom: 10px;
}

#container-planejamento .table .table-sub-unidades-tematicas tbody tr {
    background-color: cadetblue;
}

/*MEDIDAS DE TELAS*/
@media only screen and (max-width: 600px) {
    #container-planejamento table thead tr th:last-child, table tbody tr td:last-child {
        width: 30px!important;
    }
    #container-planejamento .table-sub-unidades-tematicas tr th:first-child, #table-conteudos tr th:first-child, #table-competencias tr th:first-child {
        width: 15px!important;
    }
}

@media only screen and (min-width: 601px) {
    #container-planejamento #modalLinhaUnidadeTematica .modal-dialog {
        max-width: 80%;
    }
}