html, body, .container {
    width: 100%;
    height: 100%;
}

/* .table-competencias table thead tr th:last-child, table tbody tr td:last-child {
    width: 70px;
    text-align: center;
}

.table-competencias thead tr th:first-child, table tbody tr th:first-child {
    text-align: left;
    width: auto;
} */

tbody tr th {
    font-weight: normal!important;
}

.table {
    background-color: white!important;
    table-layout: fixed;
}

@media only screen and (max-width: 600px) {
    table thead tr th:last-child, table tbody tr td:last-child {
        width: 70px!important;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) {
    .modal .modal-dialog {
        max-width: 80%;
    }
}

.div-table-scroll {
    border-radius: 10px;
    /* border-color: darkgray ;
    border-style: groove; */
    max-width: 100%;
    overflow-y: scroll;
    height: 500px;
    background: white;
}


.table-competencias tbody tr th {
    font-weight: normal;
}

/*UNIDADES TEMATICAS*/
.table-unidades-tematicas-thead tr th:last-child, .table-unidades-tematicas-tbody tr td:last-child {
    width: 70px;
    text-align: center;
}

.div-list-scroll {
    /* border-color: darkgray ;
    border-style: groove; */
    max-width: 100%;
    overflow-y: scroll;
    height: 150px;
}

.list-conhecimentos, .list-habilidades {
    height: 150px;
    background:   #f2f2f2;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.modal-body .container-fluid .card-body .row .col-6 button {
    margin-top: 10px;
}

hr {
    margin: 0;
}