body, html, .container {
    height: 90%!important;
    width: 100%;
}

.margin-auto {
    margin: auto;
}

.centralizar-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    color: white;
}

body {
    background-image: url("../img/background3.jpg");
    background-repeat: no-repeat;
    background-size: unset;
}

th, td {
    vertical-align: middle!important;
}

@media only screen and (max-width: 600px) {
    .hide-show-responsive {
        display: none;
    }
}

i {
    cursor:pointer;
    vertical-align: middle;
}

.cursor-normal {
    cursor: context-menu;
}

float-left {
    float: left;
}

float-right {
    float: right;
}

thead tr th {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 0 0 #ddd, 0 -5px 0 0 #fff;
}


.not-fixed th {
    position: relative!important;
    top: 0;
    z-index: 0;
    box-shadow: 0 0px 0 0 #ddd, 0 0px 0 0 #fff;
}